
    <section class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="white-row">
                {{{ content }}}
                </div>
            </div>
            <div class="col-md-3">
                <div class="white-row">
                {{{ navigation }}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9" style="margin-top: 20px">
                <div class="white-row">
                <h2 id="about-the-course">Über den Kurs</h2>
                <p>{{{ description }}}</p>
                    </div>
            </div>
            <div class="col-md-3" style="margin-top: 20px">
                <div class="white-row">
                <h2 id="about-the-author">Über den Autor</h2>
                <p class="lead">{{{ author }}}</p>
                <p>{{{ authorBio }}}</p>
                </div>
            </div>
        </div>
    </section>